body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: #fff;
    color: #697272;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #e7edeb;
}

nav ul li a{
    color: #697272;
    font-weight: bold;
    font-size: 16px;
}

.navbar-fixed .nav-extended .nav-wrapper .brand-logo {
    color: #697272;
}

nav i {
    color: #ababaf;
}

.card-panel {
    background-color: #e7edeb;
    border-radius: 15px;
    margin: 30px;
    justify-content: center;
}

.card {
    background-color: #e7edeb;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.btn {
    border-radius: 15px;
}

.btn-small {
    margin: 5px;
    border-radius: 15px;
}

.page-footer {
    background-color: #e7edeb;
    color: #697272;
}


main {
    flex: 1 0 auto;
  }

.page-footer li {
    display: inline;
    margin: 15px;
}

.page-footer li a i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #697272;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.page-footer li a i:hover {
    background-color: #03a9f4;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .page-footer li a i {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    .navbar-fixed .nav-extended .nav-wrapper .brand-logo {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .card-panel .row .input-field i {
        font-size: 18px;
    }

    .card-panel .row i {
    font-size: 12px;
    }
}