body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: #fff;
    color: #697272;
}

nav ul li a{
    color: #ababaf;
    font-weight: bold;
    font-size: 16px;
}

nav a img {
    height: auto;
    width: auto;
    max-height: 45px;
    max-width: 45px;
    line-height: 80px;
    vertical-align: middle;
}

nav i {
    color: #ababaf;
}

.card-panel {
    background-color: #efefe6;
    border-radius: 15px;
}

.card {
    background-color: #efefe6;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
}

.btn {
    border-radius: 15px;
}

.btn-small {
    margin: 5px;
}