{% extends "base.html" %}
{% block content %}

    <!-- ====================================================================================================================Search Bar -->
    <div class="row center-align">
        <form action="{{ url_for('search') }}" method="post" class="col s12  card-panel">
            <div class="row valign-wrapper">
                <div class="input-field center-align col s6 m8">
                    <input type="search" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query"></label>
                </div>
                <div class="col s6 m4 center-align">
                    <button type="submit" class="btn-small waves-effect waves-light light-blue">
                        <i class="fas fa-search prefix"></i>
                    </button>
                    <a href="{{ url_for('get_ads') }}" class="btn-small waves-effect waves-light light-blue"><i class="fas fa-redo white-text"></i></a>
                </div>
            </div>
        </form>
    </div>

    <!-- ===================================================================================================================Ads Content -->
    {% if ads|length > 0 %}
    <div class="row">
        {% for ad in ads %}
            <div class="col s12 m6 l3">
                <div class="card z-depth-3 waves-effect waves-block waves-light">
                    <div class="card-image activator">
                        <img class="responsive-img" src="{{ ad.photo_url }}" alt="Item Photo" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ ad.ad_title }}<i class="fas fa-ellipsis-v right"></i></span>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-folder-open prefix"></i> {{ ad.category_name }}</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-tag prefix"></i> {{ ad.price }} €</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-clipboard prefix"></i> {{ ad.condition_type }}</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-map-marker-alt prefix"></i> {{ ad.area_name }}</p>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="fas fa-times right"></i></span>
                        <div class="section">
                            <p><i class="fas fa-align-left prefix"></i> {{ ad.ad_description }}</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-user"></i> {{ ad.posted_by }}</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-envelope prefix"></i> {{ ad.email }}</p>
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            <p><i class="fas fa-phone prefix"></i> {{ ad.telephone }}</p>
                        </div>
                        <div class="divider"></div>

                        <!-- ==================================================================================================== Edit/Delete buttons -->
                        <div class="center-align">
                            {% if session.user|lower == ad.posted_by|lower %}
                                <a href="{{ url_for('edit_ad', ad_id=ad._id) }}" aria-label="Edit" class="waves-effect waves-light btn-small light-blue darken-2">Edit</a>
                                <button onclick="document.getElementById('id{{ loop.index }}').style.display='block'" aria-label="Delete" class="waves-effect waves-light btn-small light-blue darken-2">
                                    Delete
                                </button>
                            {% endif %}
                        </div>

                        <!-- =========================================================================================================== Dialog Modal -->
                        <div id="id{{ loop.index }}" class="modal">
		                    <span onclick="document.getElementById('id{{ loop.index }}').style.display='none'" class="close" title="Close Modal">&times;</span>
		                    <div class="modal-content">
			                    <div class="container center-align">
				                    <p>Are you sure you want to delete your post?</p>
				                    <div class="clearfix">
                                        <a href="{{ url_for('get_ads') }}" aria-label="No" class="btn-small waves-effect waves-light red darken-2">
                                            No
                                        </a>
                                        <a href="{{ url_for('delete_ad', ad_id=ad._id) }}"
			                                aria-label="Yes" class="waves-effect waves-light btn-small light-blue darken-2">
                                            Yes
			                            </a>
				                    </div>
			                    </div>
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 class="red-text center-align">No Results Found</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/modal.js"></script>
{% endblock scripts %}