<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ads Manager</title>
</head>
<body>
    {% for ad in ads %}

        {{ ad.category_name }}<br>
        {{ ad.ad_title }}<br>
        {{ ad.ad_description }}<br>
        {{ ad.photo_url }}<br>
        {{ ad.price }}<br>
        {{ ad.condition }}<br>
        {{ ad.area }}<br>
        {{ ad.email }}<br>
        {{ ad.telephone }}<br>

    {% endfor %}
</body>
</html>