{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Contact Us</h3>

    <div class="row">
        <form class="col s12 m4 offset-m4" method="POST" action="{{ url_for('contact') }}">
            <div class="card-panel z-depth-3">
                <div class="row">
					<div class="input-field col s12">
						<i class="far fa-user prefix"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
				<div class="row">
					<div class="input-field col s12">
                        <i class=" prefix"></i>
                        <i class="far fa-envelope prefix"></i>
						<input id="email" name="email" type="email" class="validate" required>
						<label for="email">Email</label>
					</div>
                </div>
				<div class="row">
				<div class="input-field col s12">
                    <i class="far fa-comment-alt prefix"></i>
					<textarea id="message" name="message" minlength="5"
                        maxlength="100" class="materialize-textarea validate" required></textarea>
					<label for="message">Message</label>
				</div>
			</div>
                <div class="row center-align">
                    <button type="submit" class="btn waves-effect waves-light light-green darken-2">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}