{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Contact Us</h4>

<div class="row center-form">
	<form class="col s12" onsubmit="return sendMail(this);" id="contact-form">
		<div class="card-panel z-depth-3">
			<div class="row">
				<div class="input-field col s12">
					<i class="far fa-user prefix"></i>
					<input type="text" name="from_name" id="username" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="username">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class=" prefix"></i>
					<i class="far fa-envelope prefix"></i>
					<input id="emailaddress" name="from_email" type="email" class="validate" required>
					<label for="emailaddress">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="far fa-comment-alt prefix"></i>
					<textarea id="message" name="message" minlength="5"
                        maxlength="100" class="materialize-textarea validate" required></textarea>
					<label for="message">Message</label>
				</div>
			</div>

            <!-- ===================================================================================================Cancel/Submit buttons -->
			<div class="row center-align">
                <a href="{{ url_for('get_ads') }}" aria-label="Cancel" class="btn-small waves-effect waves-light red darken-2">
                    Cancel
                </a>
				<button type="submit" aria-label="Submit" class="btn-small waves-effect waves-light light-blue darken-2">
                    Submit
                </button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/sendEmail.js"></script>
{% endblock scripts %}