{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Post Ad</h3>

	<div class="row card-panel waves-effect waves-block waves-light z-depth-3">
		<form class="col s12" method="POST" action="">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
					<select id="category_name" name="category_name" class="validate" multiple required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
				    </select>
					<label for="category_name">Ad category</label>
				</div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i id="photo-icon" class="fas fa-image prefix"></i>
                    <input id="photo_url" name="photo_url" type="text" minlength="5" pattern="https://.*"  class="validate" required/>
                    <label for="photo_url">Please add photo URL</label>
                </div>
            </div>
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-pencil-alt prefix"></i>
					<input id="ad_title" name="ad_title" minlength="5" maxlength="15"
                        type="text" class="validate" required>
					<label for="ad_title">Title</label>
                </div>
			</div>
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
					<textarea id="ad_description" name="ad_description" minlength="5"
                        maxlength="100" class="materialize-textarea validate" required></textarea>
					<label for="ad_description">Description</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-tag prefix"></i>
					<input id="price" name="price" type="text" class="validate" required>
					<label for="price">Price</label>
                </div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-clipboard prefix"></i>
					<input id="condition" name="condition" type="text" class="validate" required>
					<label for="condition">Condition</label>
                </div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-map-marker-alt prefix"></i>
					<input id="area" name="area" type="text" class="validate" required>
					<label for="area">Area</label>
                </div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix"></i>
                    <input id="telephone" name="telephone" type="tel" class="validate" required>
                    <label for="telephone">Telephone</label>
                </div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix"></i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
			</div>
		</form>
	</div>

{% endblock %}