{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel z-depth-3">
                <h4 class="center-align">
                    {{ username.username }} Account
                </h4>
            </div>
        </div>
    </div>
	<div class="center-align">
		{% if session.user|lower == username.username|lower %}
            <a href="{{ url_for('delete_profile', username=username._id) }}"
               aria-label="Delete Account" class="waves-effect waves-light btn-small red darken-2">Delete Account
            </a>
		{% endif %}
	</div>
    <div class="modal">
        <div class="modal__contents">
            <p>Are you sure you want to delete your account?</p>
            <form>
                <button type="submit">Yes</button>
                <button type="submit">No</button>
            </form>
        </div>
    </div>

{% endblock %}