{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">Register</h4>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel z-depth-3">
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required/>
						<label for="username">Username</label>
					</div>
                </div>
				<div class="row">
					<div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
						<input id="password" name="password" type="password" onkeyup="check();" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required/>
						<label for="password">Enter Password</label>
					</div>
                </div>
                <div class="row">
					<div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
						<input id="confirm_password" name="confirm_password" type="password" onkeyup="check();" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required/>
                            <span id="message"></span>
						<label for="confirm_password">Confirm Password</label>
					</div>
                </div>
                <div class="row center-align">
                    <a href="{{ url_for('get_ads') }}" class="btn-small waves-effect waves-light red darken-2">
                        Cancel
                    </a>
                    <button type="submit" class="btn-small waves-effect waves-light light-blue darken-2">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered? <a href="{{ 'login' }}">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/confirmPassword.js"></script>
{% endblock scripts %}